body{
    background-image: url('https://cdn.pixabay.com/photo/2016/07/15/16/36/pokemon-1519637_960_720.jpg');
    background-repeat: no-repeat;
}

#list{
    list-style-type: none;
    color: white;
}

button{
    margin: 20px;
    background-color: limegreen;
    border-radius: 10px;
    color: white;
}
h1{
    color: gold;
}